/* Lowerpage Draft */
.latestprojects, .Thingsofabove, .footer {
    font-family: ubuntu light 300;
}

.latestprojects p {
    font-size: 12px;
    padding-top: 0px;
    color: #b6b5b5;
}
/* Footer */
/*Peewee Info */

.peewee img {
    border-radius: 60%;
    width: 50px;
    height: 55px;
}

