/* Lowerpage Draft */
.latestprojects, .Thingsofabove, .footer {
    font-family: ubuntu;
}

.latestprojects p {
    font-size: 10px;
}
/* Footer */
/*Peewee Info */

.peewee img {
    border-radius: 60%;
    width: 50px;
    height: 55px;
}

