/* Lowerpage Draft */
.latestprojects, .Thingsofabove, .footer {
    font-family: ubuntu;
}
.latestprojects h2 {
    display: flex;
    align-self: center;
}
/* Footer */
/*Peewee Info */

.peewee img {
    border-radius: 60%;
    width: 50px;
    height: 55px;
}

